body {
	background: #09f;
}

.board {
	background: #fff;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	border: 4px solid #ccc;
	margin: 50px auto;
}

.board .cell {
	border: 1px solid #ccc;
	position: relative;
}

.board .cell.isNull {
	background: #ccc;
}

.board .cell .startCell, .board .cell .endCell {
	display: inline-block;
	background: #f66;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: middle;
}

.board .cell .line-up {
	display: block;
	width: 4px;
	height: 50px;
	background: #6f9;
	position: absolute;
	bottom: 50%;
	left: calc(50% - 2px);
	z-index: 100;
}

.board .cell .line-down {
	display: block;
	width: 4px;
	height: 50px;
	background: #6f9;
	position: absolute;
	top: 50%;
	left: calc(50% - 2px);
	z-index: 100;
}

.board .cell .line-left {
	display: block;
	width: 50px;
	height: 4px;
	background: #6f9;
	position: absolute;
	right: 50%;
	top: calc(50% - 2px);
	z-index: 100;
}

.board .cell .line-right {
	display: block;
	width: 50px;
	height: 4px;
	background: #6f9;
	position: absolute;
	left: 50%;
	top: calc(50% - 2px);
	z-index: 100;
}